.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #45240c; /* Marron */
  color: #fff;
}

.navbar-logo img {
  height: 40px;
}

.navbar-menu {
  list-style-type: none;
  display: flex; /* Affichage horizontal */
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #45240c; /* Marron */
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #A0522D; /* Marron plus foncé au survol */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  
}

.navbar-search button {
  background-color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
